In [1]:
import pandas as pd
import numpy as np

In [2]:
def reformat_DFS(descriptions):
    reformatted = []
    for description in descriptions:
        conditions = description.split(' AND ')
        formatted_description = {}
        for condition in conditions:                    
            if '.isnull()' in condition:
                attribute = condition.split('.isnull()')[0]
                value = 'unknown'
                
            elif '>=' in condition:
                attribute = condition.split('>=')[0]
                value = str(condition.split('>=')[1])
                
            elif '<=' in condition:
                attribute = condition.split('<=')[0]
                value = str(condition.split('<=')[1])
                
            elif '<'  in condition:
                attribute, value = condition.split('<')
                attribute = attribute.split('.')[0]
                value = value.strip("'")
                
            elif '>'  in condition:
                attribute, value = condition.split('>')
                attribute = attribute.split('.')[0]
                value = value.strip("'")
                
            elif '[' in condition:
                attribute = condition.split('[')[0]
                value = str(condition.split('[')[1])
                attribute = attribute.split(':')[0]
                            
            else: 
                attribute, value = condition.split('==')
                attribute = attribute.split('.')[0]
                value = value.strip("'")
            
            if condition == "Age=='>=25.5'":
                attribute = 'Age'
                value = '>=25.5'
                
            elif condition == "Age=='<25.5'":
                attribute = 'Age'
                value = '<25.5'
            
            if condition == "Duration=='<15.5'":
                attribute = 'Duration'
                value = '<15.5'
                
            elif condition == "Duration=='>=15.5'":
                attribute = 'Duration'
                value = '>=15.5'
            
            if condition == "Credit amount=='<3913.5'":
                attribute = 'Credit amount'
                value = '<3913.5'
            elif condition == "Credit amount=='>=3913.5'":
                attribute = 'Credit amount'
                value = '>=3913.5'
   
            formatted_description[attribute] = value
        reformatted.append(formatted_description)
    return reformatted

DFS_df = pd.read_csv('unprocessed_DFS_descriptions.csv')
DFS_df = DFS_df[DFS_df['subgroup'] != 'Dataset']
DFS_df['description'] = reformat_DFS(list(DFS_df['subgroup']))
DFS_df['WRAcc score'] = DFS_df['quality']
DFS_df = DFS_df.drop(['subgroup', 'quality'], axis=1)
DFS_df

,size_sg,size_dataset,positives_sg,positives_dataset,size_complement,relative_size_sg,relative_size_complement,coverage_sg,coverage_complement,target_share_sg,target_share_complement,target_share_dataset,lift,description,WRAcc score
0,394,1000,348,700,606,0.394,0.606,0.497143,0.502857,0.883249,0.580858,0.7,1.261784,{'Checking account': 'unknown'},0.0722
1,344,1000,308,700,656,0.344,0.656,0.440000,0.560000,0.895349,0.597561,0.7,1.279070,"{'Age': '>=25.5', 'Checking account': 'unknown'}",0.0672
2,301,1000,276,700,699,0.301,0.699,0.394286,0.605714,0.916944,0.606581,0.7,1.309919,"{'Checking account': 'unknown', 'Credit amount...",0.0653
3,261,1000,243,700,739,0.261,0.739,0.347143,0.652857,0.931034,0.618403,0.7,1.330049,"{'Age': '>=25.5', 'Checking account': 'unknown...",0.0603
4,304,1000,272,700,696,0.304,0.696,0.388571,0.611429,0.894737,0.614943,0.7,1.278195,"{'Checking account': 'unknown', 'Housing': 'own'}",0.0592
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,172,1000,76,700,828,0.172,0.828,0.108571,0.891429,0.441860,0.753623,0.7,0.631229,"{'Checking account': 'little', 'Job': '2'}",-0.0444
2425,166,1000,68,700,834,0.166,0.834,0.097143,0.902857,0.409639,0.757794,0.7,0.585198,"{'Checking account': 'little', 'Duration': '>=...",-0.0482
2426,219,1000,105,700,781,0.219,0.781,0.150000,0.850000,0.479452,0.761844,0.7,0.684932,"{'Checking account': 'little', 'Saving account...",-0.0483
2427,274,1000,139,700,726,0.274,0.726,0.198571,0.801429,0.507299,0.772727,0.7,0.724713,{'Checking account': 'little'},-0.0528
2428,338,1000,181,700,662,0.338,0.662,0.258571,0.741429,0.535503,0.783988,0.7,0.765004,"{'Duration': '>=15.5', 'Saving accounts': 'lit...",-0.0556

In [3]:
bla = DFS_df[['description', 'WRAcc score']][:100]

In [4]:
bla.to_csv('DFS_descriptions.csv')

In [5]:
# c = pd.read_csv('clustering_fairness_results_wo_gender_w_cat.csv')
# c[['description', 'WRAcc_score']][:100].to_csv('kmedoids_descriptions.csv')